
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

/* :root{
    --bgColor:#e84949
} */
#wrapper{
  
    height: 100vh;
    overflow-y: auto;
    overflow-x: auto;
}
.container{
    width: 100%;
    margin: 0 auto;
    
}
.navbar{
    background-color: #0B1C36;
    display: flex;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.logo{
    cursor: pointer;
    padding-top: 4px;
    padding-right: 8px;
    
    margin-left: 3px;
    margin-top: 2px;

}
.caa{
    width: 200px;
    height: 90px;
    /* position: absolute; */
}
.navitem{
    display: flex;
    gap: 2rem;
    padding: 0 4em;
    position: relative;
    font-weight: 200;
    font-size: large;
    
}
#link{
    text-decoration: none;
    color:white;
    position: relative;
    
    
}
#link:hover{
    color: aqua;
    cursor: pointer;
    transition: all 1s;
}
#link:hover::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: aqua;
    transition: all 1s;
}
.accounts{
    display: flex;
    margin-left: 1.5rem;
    gap: 20px;
    
}
/* .flag{
    width: 55px;
    height: 45px;
    padding-top: 8px;

} */
.form-control{
    width: 190px;
    display: flex;
    height: 53px;
    padding-top: 0.75rem;
    background-color: #13274F;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: white;
    border-width: 3px;
    /* border-color: #002244; */
    border-radius: 2px;
    font: bold;
    font-weight: 200;
    cursor: pointer;
    font-size: larger;

}
.log{
    background-color: #13274F;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: white;
    border-width: 3px;
    border-color: #002244;
    border-radius: 2px;
    font: bold;
    font-weight: 200;
    cursor: pointer;
    font-size: larger;
}
.log:hover{
    color: aqua;
    transition: all 1s;
}
.sign{
    background-color: #13274F;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: white;
    border-width: 3px;
    border-color: #002244;
    border-radius: 2px;
    font: bold;
    font-weight: 400;
    font-size: larger;
    cursor: pointer;
}
.sign:hover{
    color: aqua;
    transition: all 1s;
}


    .hero-section{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0B1C36;
        height: 800px;
    }
    .heading-left{
        display: flex;
        font-size: 35px;
        color: #0B1C36;
        font-weight: 500;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }


.role{
    color: #4e45d5;
    font-weight: 800;
    gap: 3rem;
    font-size: x-large;

}
.am{
    color: aliceblue;
    font-size: x-large;
}
.intro{
    font-size: larger;
    color: aliceblue;
    font-weight: bold;
    width: 600px;
}
.line{
    width: 100%;
    height: 5px;
    background-color: #4e45d5;
    box-shadow:5px 10px 10px #4e45d5;
    /* transform-style: preserve-3d; */
    z-index:1; 
    position:sticky;
    
}
.btn-pink{
    background-color: #295698;
    padding: 0.8rem 2.3rem;
    color: white;
    font-size: 18px;
    box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.btn-pink::before{
    content:"";
    background-color: #002D62;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition:all 1s;
    z-index: -1;
}
.btn-pink:hover::before{
    transform: scaleX(1);
}
.contactus-form-container{
    width: 100%;
    background-color: #002244;
}
.contactus-heading{
    padding-left: 15px;
    font-size: 3.4em;
    color: #e84949;
    padding-top: 2rem;
}
.contactus-sub-heading{
    padding-left: 15px;
    font-size: 2em;
    color: white;
    text-transform: capitalize;
}
.contactus-form-container{
    /* margin-top: 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
  margin: 2rem 5rem;
}
.formfield-container{
    width: 100%;
}
.formfield{
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight: 500;
    border: none;
    margin-top: 27px;
}
.formfield-textarea{
    height: auto;
    padding-top: 1rem;
}
#submit-btn{
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
}
#submit-btn:hover{
    scale: 0.9;
}
.submit-icon{
    padding: 0 1rem;
    font-size: 1.5rem;
}
footer{
    position: relative;
    margin-top: -1px;
    background-color: #0B1C36;
     padding: 5rem; 
}
.footer-container{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}
.footer-left{
   
    display: flex;

    /* width: 100%; */
    flex-direction: column;
    /* padding-right: 30px; */
}
#name{
    color: lightblue;
    text-decoration: none;
    padding-bottom: 8px;
    opacity: 1;
    position: relative;
    font-size: larger;
    font-weight: 600;
}
#name:hover{
    opacity: 1;
    color: #e84949;
    transition: all 1s;
    scale: 1.1;
}
/* #name:hover::after{
    content: "";
    position: absolute;
    bottom: 5px;
    height: 2px;
    width: 80%;
    left: 0;
    background-color: #e84949;
    transition: all 1s;
} */

    a { color: inherit; }
.icon-wrapper{
    display: flex;
    gap: 1rem;
    color: white;
    
    
}
.icon-wrapper:hover{
    transition: all 1s;
    scale: 1.1;
    color: #e84949;
}
.footer-right{
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    /* padding-right: 30px; */
   padding-left: 150px; 
   
}
.footer-center{
    display: flex;
    /* width: 100%; */
    flex-direction: row;
    /* padding-right: 30px; */
    gap: 40px;
    padding-left: 120px;
}
#ChatBot{
    text-decoration: none;
}
